body {
  margin: 0;
}

.calendar {
  position: relative;
  width: 740px;
  border: 1px solid #000;
}

.weekend {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  padding: 10px;
}

.day {
  width: 100px;
  height: 100px;
  text-align: center;
  border: 1px solid #000;
  background-color: #eee;
  cursor: pointer;
}

.day:hover {
  background-color: #e0e0e0;
}
